<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Your Favourite Show is going to start within 30 minutes</p>
	<p>
		Show Details <br>
		-----------------------------------------
	</p>
	<p>Channel Name: <%= @show.channel.name %></p>
	<p>Show Name: <%= @show.name %></p>
	<p>Show Timing: <%= @show.start_time %> - <%= @show.end_time %></p>
	</p>
</body>
</html>